<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartFlow - AI Traffic Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- Hero Section -->
    <section id="hero" class="hero">
        <div class="hero-content">
            <div class="glow-orb"></div>
            <h1 class="hero-title">
                Running Demo<br>
            </h1>
            <p class="hero-subtitle">
                Let's wait for a few seconds.
            </p>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>